
.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background: #f0f2f5;
}

.loginForm {
    background: #fff;
    padding: 30px 40px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.loginForm >h2 {
    text-align: center;
    margin-bottom: 10px;
    color: #333;
    font-size: 26px;
}

label {
    font-weight: 600;
    color: #444;
}

.inputField {
    padding: 10px 12px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
    transition: border 0.3s;
}
.submitButton {
    background-color: #673AB7;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.submitButton:hover {
    background-color: #0056b3;
}

.errorText {
    color: #e74c3c;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 5px;
}
